@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-500;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.selected {
  @apply text-gray-500 border-b-4 border-blue-500;
}

.link {
  @apply text-gray-300 cursor-pointer hover:text-gray-400 pb-3;
}
